**/obj
**/bin
appsettings.Development.json
obj/iCars.csproj.nuget.dgspec.json
obj/iCars.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/iCars.assets.cache
obj/Debug/net5.0/iCars.csproj.AssemblyReference.cache
obj/Debug/net5.0/iCars.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/iCars.dll
obj/Debug/net5.0/iCars.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/iCars.genruntimeconfig.cache
obj/Debug/net5.0/iCars.pdb
obj/Debug/net5.0/iCars.Views.dll
obj/Debug/net5.0/iCars.Views.pdb
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Parco/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Parco/Interventi.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/net5.0/ref/iCars.dll
